<div>
  <h2>My Gardens</h2>
  <div class="clickable" (click)="showAddGarden=!showAddGarden">
    <span *ngIf="showAddGarden; else plus">-</span>
    <ng-template #plus>+</ng-template>
    Add New Garden
  </div>
  <div *ngIf="showAddGarden">
    <label>Garden Name:</label> &nbsp;<input [(ngModel)]="garden.name" />
    <button type="button" (click)="addGarden()">Add</button>
  </div>

  <div></div>

  <div *ngFor="let g of allUserGardens">
    <app-garden-view [garden]="g"></app-garden-view>
  </div>
  <hr>

  <div></div>

</div>
